@font-face {
  font-family: "Aftersick";
  src: url(../public/fonts/aftersick-font-1706356594-0/aftersickdemo-semibold.otf);
}

h1 {
  font-family: "Aftersick";
}
/* #root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

body {
  padding: 0 !important;
  margin: 0 !important;
  max-width: 100vw !important;
  overflow-x: clip !important;
  background-color: #020928;
}

/* Custom Neon Cyan Scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #020928;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #06b6d4;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(6, 182, 212, 0.7);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #22d3ee;
  box-shadow: 0 0 14px rgba(34, 211, 238, 0.95);
}

/* Firefox Support */
* {
  scrollbar-width: thin;
  scrollbar-color: #06b6d4 #020928;
}